* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header li {
    display: inline;
}

.container  {
    width: 1366px;
    margin: 0 auto;
}

.articles {
    display: flex;
}

.articles article img {
    height: 180px;
}

.articles article {
    width: 30%;
}

.container1{
    border-style: solid; border-color: rgba(127, 255, 212, 0.466); background-color: rgba(127, 255, 212, 0.438);
    margin: 6%;
    border-radius: 1%;
    
}

.container2{
    border-style: solid; border-color: rgba(139, 46, 46, 0.411); background-color: rgba(139, 46, 46, 0.411);
    margin: 6%;
    border-radius: 1%;
}

.section {
    border-style: solid; border-color: rgba(255, 255, 0, 0.459); background-color: rgba(255, 255, 0, 0.459);
    margin: 6%;
    border-radius: 1%;
}

.container3 {
    border-style: solid; border-color: rgba(0, 0, 255, 0.267); background-color: rgba(0, 0, 255, 0.267);
    margin: 6%;
    border-radius: 1%;
    bor
}

